<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>首页</title>
    <link rel="stylesheet" href="../css/mui.min.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/app/home.css" />
    <style>
    	#pnl-banner img {
    		max-height: 100%;
    		max-width: 100%;
    	}
    	#pnl-gallery img {
    		height: 130px;
    		max-width: 100%;
    	}
    	#pnl-thumb img {
    		max-height: 100px;
    		max-width: 100%;
    	}
    	header>.left span {
    		overflow: hidden;
    		text-overflow: ellipsis;
    		white-space: nowrap;
    		max-width: 200px;
    	}
    	#pnl-thumb>div {
    		text-align: center;
    		padding-left: 5px;
    		padding-right: 5px;
    	}
    	#pnl-thumb>div img {
    		width: 100%;
    		height: 80px;
    	}
    	.func-menu {
    		margin-bottom: 20px;
    	}
    	.func-menu p {
    		color: #000000;
    	}
    	.func-menu .mui-col-xs-3 {
    		padding-top: 10px;
    		padding-bottom: 10px;
    		border-right: 1px solid #EEEEEE;
    		border-bottom: 1px solid #EEEEEE;
    	}
    	.func-menu .mui-row:last-child .mui-col-xs-3 {
    		/*border-bottom: none;*/
    	}
    	.func-menu img {
    		width: 40px;
    		height: 40px;
    		margin-left: auto;
    		margin-right: auto;
    	}
    </style>
</head>
<body>
    <!--头部-->
    <header class="bar">
        <a class="right mui-icon mui-icon-search" data-url='find.shop.html'></a>
        <a class="left" data-url="locate.city.html">
            <i class="left mui-icon mui-icon-location"></i>
            <span> </span>
            <i class="back mui-icon mui-icon-arrowright"></i>
        </a>
    </header>
    <div class="content">
        <!--定位小区-->
        <section style="display: none;">
            <div class="City">
                <div class="hot_city">锦江区</div>
                <div class="hot_city">成华区</div>
                <div class="hot_city">金牛区</div>
                <div class="hot_city">锦江区</div>
                <div class="hot_city">锦江区</div>
                <div class="hot_city">锦江区</div>
                <div class="hot_city">锦江区</div>
                <div class="hot_city">锦江区</div>
                <div class="hot_city">锦江区</div>
            </div>
            <div class="dies">
                <img src="../img/location.png" class="dfeo" />
                <span>当前城市：成都</span>
                <span class="r_span">切换</span>
                <i class="i"></i>
            </div>
        </section>
        <!--轮播图-->
        <section id="banner-container">
            <div class="mui-slider">
                <div class="mui-slider-group mui-slider-loop" id="pnl-banner">
                    <div class="mui-slider-item">
                        <a href="javascript:;"><img src="../img/banner01.png" /></a>
                    </div>
                    <div class="mui-slider-item">
                        <a href="javascript:;"><img src="../img/banner02.png" /></a>
                    </div>
                    <div class="mui-slider-item">
                        <a href="javascript:;"><img src="../img/banner03.png" /></a>
                    </div>
                </div>
            </div>
        </section>
        
	    <!--菜单-->
        <div class="func-menu">
	        <div class="mui-row">
				<div class="mui-col-xs-3 mui-text-center" data-url="shopping.html">
					<img src="../img/01-01.png" /><p>附近商超</p>
				</div>
				<div class="mui-col-xs-3 mui-text-center" data-url="group.purchase.list.html">
					<img src="../img/02-01.png" /><p>团购</p>
				</div>
				<div class="mui-col-xs-3 mui-text-center" data-url="second.hand.html">
					<img src="../img/03-01.png" /><p>社区二手</p>
				</div>
				<div class="mui-col-xs-3 mui-text-center" data-url="forum.html">
					<img src="../img/04-01.png" /><p>社区论坛</p>
				</div>
			</div>
	        <div class="mui-row">
				<div class="mui-col-xs-3 mui-text-center" data-url="car.service.html">
					<img src="../img/05-01.png" /><p>汽车服务</p>
				</div>
				<div class="mui-col-xs-3 mui-text-center" data-url="wash.clothes.html">
					<img src="../img/06-01.png" /><p>干洗水洗</p>
				</div>
				<div class="mui-col-xs-3 mui-text-center" data-url="convenient.html">
					<img src="../img/07-01.png" /><p>便捷中心</p>
				</div>
				<div class="mui-col-xs-3 mui-text-center" data-url="purse.html">
					<img src="../img/08-01.png" /><p>钱包</p>
				</div>
			</div>
	        <div class="mui-row">
				<div class="mui-col-xs-3 mui-text-center" data-url="station.html">
					<img src="../img/09-01.png" /><p>送水</p>
				</div>
				<div class="mui-col-xs-3 mui-text-center" data-url="shoper.html">
					<img src="../img/10-01.png" /><p>联盟商家</p>
				</div>
				<div class="mui-col-xs-3 mui-text-center" data-url="tenement.html">
					<img src="../img/11-01.png" /><p>物业中心</p>
				</div>
				<div class="mui-col-xs-3 mui-text-center" data-url="homemaking.html">
					<img src="../img/12-01.png" /><p>家政中心</p>
				</div>
			</div>
		</div>
        <!--便民功能-->
        <section>
            <div class="contain">便民功能</div>
            <div class="mui-slider bianming">
                <div class="mui-slider-group" id="pnl-gallery">
                    <div class="mui-slider-item">
                        <a href="javascript:;"><img src="../img/bianminggongneng.png" /></a>
                    </div>
                </div>
            </div>
            
            <ul class="bian">
                <li class="real-btn-sigin" data-url='checkin.html'><img src="../img/sign-in.png"></li>
                <li data-outer="http://wx.weather.com.cn/mweather/101010100.shtml#1"><img src="../img/weather.png"></li>
                <li data-outer="http://yngsjj.gov.cn/myapi/Violation/"><img src="../img/Weizhang-Check.png"></li>
            </ul>
        </section>
        <!--便民服务-->
        <section>
            <div class="contain">便民服务</div>
            <div class="mui-row ad" id="pnl-thumb">
            	
            </div>
        </section>
    </div>
    
    <!-- 轮播图片模板 开始 -->
    <script type="text/html" id="tpl-banner">
        <div class="mui-slider-item mui-slider-item-duplicate {{if '2' == banner[banner.length-1].type}}shop{{else}}product{{/if}}" data-id="{{banner[banner.length-1].sid}}" data-title="{{banner[banner.length-1].title}}">
            <a href="javascript:;"><img src="{{banner[banner.length-1].img | image}}" /></a>
        </div>
    	{{each banner as item}}
        <div class="mui-slider-item {{if '2' == item.type}}shop{{else}}product{{/if}}" data-id="{{item.sid}}" data-title="{{item.title}}">
            <a href="javascript:;"><img src="{{item.img | image}}" /></a>
        </div>
        {{/each}}
        <div class="mui-slider-item mui-slider-item-duplicate {{if '2' == banner[0].type}}shop{{else}}product{{/if}}" data-id="{{banner[0].sid}}" data-title="{{banner[0].title}}">
            <a href="javascript:;"><img src="{{banner[0].img | image}}" /></a>
        </div>
    </script>
    <!-- 轮播图片模板 结束 -->
    
    <!-- gallery模板 开始 -->
    <script type="text/html" id="tpl-gallery">
    	{{each gallery as item}}
        <div class="mui-slider-item {{if '2' == item.type}}shop{{else}}product{{/if}}" data-id="{{item.sid}}" data-title="{{item.title}}">
            <a href="javascript:;"><img src="{{item.img | image}}" /></a>
        </div>
        {{/each}}
    </script>
    <!-- gallery模板 结束 -->
    
    <!-- 便民服务模板 开始 -->
    <script type="text/html" id="tpl-thumb">
    	{{each thumb as item idx}}
        <div class="mui-col-xs-6 {{if idx < 3}}top{{/if}} {{if '2' == item.type}}shop{{else}}product{{/if}}" data-id="{{item.sid}}" data-title="{{item.title}}">
        	<img src="{{item.img | image}}">
        </div>
        {{/each}}
    </script>
    <!-- 便民服务模板 结束 -->
    
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/mui.min.js"></script>
    <script type="text/javascript" src="../js/template.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="home.js"></script>
</body>
</html>