<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>我的订单-全部</title>
	<link rel="stylesheet" type="text/css" href="../css/mui.min.css" />
	<link rel="stylesheet" href="../css/common.css" />
	<link rel="stylesheet" href="../css/app/order.css" />
	<style>
		.content { padding-top: 0; }
	</style>
</head>
<body>
	<div class="content">
		<!--全部-->
		<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<!--数据列表-->
				<section class="mui-table-view mui-table-view-chevron" id="pnl-order"></section>
			</div>
		</div>
	</div>
	<!-- 订单模板 开始 -->
	<script type="text/html" id="tpl-order">
		{{if 0 == list.length}}
		<div class="data-empty-line"></div>
		{{/if}}
		{{each list as item}}
		<ul class="tuikuan product-order" data-id="{{item.order_id}}" data-no="{{item.order_no}}">
			<li>
				<div class="gjot">
					<span>快送订单</span>
					<!-- 0未支付 1已付款 2已发货  3已完成 4待评价 5已取消 -->
					{{if '0' == item.status}}
					<span class="col r_f">待支付</span>
					{{else if '1' == item.status}}
					<span class="col r_f">待发货</span>
					{{else if '2' == item.status}}
					<span class="col r_f">已发货</span>
					{{else if '3' == item.status}}
					<span class="col r_f">已完成</span>
					{{else if '4' == item.status}}
					<span class="col r_f">已评价</span>
					{{else if '5' == item.status}}
					<span class="col r_f">已取消</span>
					{{else if '6' == item.status}}
					<span class="col r_f">已退款</span>
					{{else if '7' == item.status}}
					<span class="col r_f">退款申请中</span>
					{{else}}
					<!-- 无操作 |重新购买 -->
					{{/if}}
				</div>
			</li>
			<li>
				{{each item.goods_list as product}}
				<div class="fefk product" data-product={{product.goods_id}} data-shop={{product.shop_id}}>
					<div class="l_f l_img">
						<img src="{{product.img | image}}" />
					</div>	
					<div class="nick1">
						{{product.title}}<span class="r_f col1">x{{product.num}}</span>
						<p>￥{{product.price | price}}</p>
					</div>
				</div>
				{{/each}}
			</li>
			<li>
				<div class=" col1 dfv">
					送货时间<span class="fcr">{{item.time}}</span>
				</div>
			</li>
			<li>
				<div class=" col1 dfv">
					<span class="block">订单编号<span class="fcr">{{item.order_no}}</span></span>
					<span class="block">下单时间<span class="fcr">{{item.create_time}}</span></span>
					<span class="block">商品金额<span class="fcr">￥：{{item.total_price}}</span></span>
					{{if '0' == item.status}}
					<span class="block col2">未付款的订单将在15分钟后失效</span>
					{{/if}}
				</div>
			</li>
			<li>
				<div class="frko">
					<!-- 0带支付 1已付款 2已发货  3已完成 4待评价 5已取消 -->
					{{if '0' == item.status}}
					<button class="btnf activeo btn-odr-repay">立即付款</button>
					<button class="btnf btn-odr-cancel">取消订单</button>
					{{else if '1' == item.status}}
					<button class="btnf activeo btn-odr-refund">退款</button>
					{{else if '2' == item.status}}
					<button class="btnf activeo btn-odr-confirm">立即确认</button>
					{{else if '3' == item.status}}
					<button class="btnf activeo btn-odr-comment">立即评价</button>
					{{else if '4' == item.status}}
					<button class="btnf activeo" disabled="disabled">已评价</button>
					{{else if '5' == item.status}}
					<button class="btnf activeo" disabled="disabled">已取消</button>
					{{else if '6' == item.status}}
					<button class="btnf activeo" disabled="disabled">已退款</button>
					{{else if '7' == item.status}}
					<button class="btnf activeo" disabled="disabled">退款申请中</button>
					{{else}}
					<!-- 无操作 |重新购买 -->
					{{/if}}
				</div>
			</li>
		</ul>
		{{/each}}
	</script>
	<!-- 订单模板 结束 -->
	
	<script type="text/javascript" src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/template.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/moment.js"></script>
	<script type="text/javascript" src="my.order.scroll.all.js"></script>
</body>
</html>
