ul{border-top: 1px solid #E5E5E5;}
li{background: #FFFFFF;line-height: 21px;padding: 8px 15px;}
.block{display: block;text-align: center;}
.quxiao{border: 1px solid #999999;background: #999999;color: #FFFFFF;font-size: 13px;border-radius: 5px;}
.julitwo{padding-left: 10px;padding-right: 30px;}
.r_float{float: right;}
.gongao{display: block;}
.neirong{text-indent:2em;display: block;line-height: 25px;font-size: 15px;}
.admin{font-size: 12px;}
.admin1{width: 100%;box-sizing: border-box;font-size: 13px;overflow: hidden;}
.admin2{width: 35px;height: 50px;float: left;}
.admin2 img{width: 30px;}
.admin3{width: 65%;float: left;}
.admin4{float: right;text-align: right;width: 21%;height: 65px;}
.admin4 img{width: 15px;margin-top: 20px;}
.hufi{border: 1px solid #CCCCCC;border-radius: 3px;padding: 2px 5px;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;background: #CCCCCC;}
.shenf{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.form{margin-top: 20px;text-align: center;}
input[type=text]{width: 95%;border: 1px solid #EFEFF4;}























































