.content_head{width: 100%;height: 44px;line-height: 44px;box-sizing:border-box;background: #FFFFFF;border-top: 1px solid #E5E5E5;}
.f-head{position: relative;width: 33.3333333333%;float: left;text-align: center;}
b{width: 10px;height: 10px;display: inline-block;border-right: 1px solid #000;border-bottom: 1px solid #000;cursor: pointer;-webkit-transform: rotate(-315deg);}
.vertical{position: absolute;width: 1px;height: 80%;background: #E5E5E5;right: 0;top: 10%;}
.ff{float: left;width: 63%;height: 44px;float: left;text-align: right;}
.ff-b{float: left;width: 20%;height: 30px;float: left;margin-top: -3px;}
.person{float: right;margin-right: 15px;margin-top: 15px;color: #9D9D9D;font-size: 14px;}
.bainjie{color: #000000;border-top: 1px solid #E5E5E5;}
.bainjie li{color: #000000;padding-left: 40%;}
.bainjie li:after{left: 0;}











































































