.data{width: 100%;height: 160px;background: #FD4C3C;display: block;}
.touxia{width: 100%;height: 100px;border: 1px solid #FD4C3C;border-radius: 50%;margin: 0 auto;padding-top: 10px;text-align: center;}
.touxia img{width: 90px;height: 90px;border: 1px solid #FD4C3C;border-radius: 50%;}
form{margin-top: 57px;display: block;}
.r-li{width: 50%;height: 30px;float: left;border: 1px solid #FD4C3C;border-radius: 10px;}
.lgri{width: 100%;height: 30px;display: block;}

.fre4{width: 50%;float: left;}
.frfs{border: 1px solid #FC897E;border-radius: 10px;background: #FFFFFF;color: #5FBDEA;padding: 4px 15px;font-size: 15px;}
.rei{overflow: hidden;width: 100%;height: 60px;}
.sex_btn1{border: 1px solid #FFFFFF;background: #FFFFFF;border-top-left-radius: 10px;border-bottom-left-radius: 10px;padding: 4px 15px;font-size: 15px;color: #9A9999;position: relative;}
.sex_btn2{border: 1px solid #FFFFFF;background: #FFFFFF;border-top-right-radius: 10px;border-bottom-right-radius: 10px;padding: 4px 15px;margin-left: -10px;color: #9A9999;font-size: 15px;}
.active{color: #5FBDEA;}
.djie{position: absolute;width: 1px;height: 100%;right: 0;top: 0;background: #CCCCCC;}































