.rule .nick{display: block;color: #000000;font-weight: bold;position: relative;}
.rule{margin-top: 10px;line-height: 25px;padding: 0 15px;color: #000000;font-size: 15px;}
.rule .text{text-indent: 2rem;display: block;}
li{padding: 11px 15px;background: #FFFFFF;margin-top: 8px;line-height: 25px;}
li:after{left: 0;}
.block{display: block;}
.l-span{border: 1px solid #9D9D9D;background: #9D9D9D;border-radius: 5px;font-size: 14px;color: #FFFFFF;padding: 2px 8px;}
.r-span{float: right;font-size: 14px;color: #9D9D9D;}
.r-f{text-align: right;display: block;}
.qiandao{width: 100%;text-align: center;margin: 3rem 0;}
.qiandao img{width: 45%;}
.block1{display: block;padding-top: 20px;}




























































