.set{border-top: 1px solid #E5E5E5;}
li{background: #FFFFFF;padding: 11px 15px;line-height: 21px;}
.frfr{height: 44px;background: #FFFFFF;margin-top: 5px;font-size: 12px;box-sizing: border-box;padding: 0 5px;}
.float1{width: 28%;float: left;}
.float{float: left;width: 39%;margin-left: 1%;}
.fjo{box-sizing: border-box;border: 1px solid #FD4C3C;border-radius: 10px;padding: 5px;overflow: hidden;height: 35px;margin-top: 4px;line-height: 20px;}
.number{font-size: 17px;margin-left: 5px;}
.f_l{float: left;overflow: hidden;}
.float2{width: 31%;float: left;margin-left: 1%;}
.lirj{height: 60px;box-sizing: border-box;padding-left: 15px;position: relative;}
.time1{font-size: 18px;line-height: 60px;float: left;height: 60px;width: 25%;}
.xian1{width: 1px;height: 70%;background: #CCCCCC;position: absolute;top: 15%;}
.frek{padding-left: 10px;float: left;height: 60px;width: 40%;margin-top: 12px;}
.frek p{color: #000000;}

































































































