ul{border-top: 1px solid #E5E5E5;}
li{padding: 11px 15px;background: #FFFFFF;line-height: 25px;}
.kong{padding-left: 32px;}
.djei{display: block;}
textarea{border: 0;margin-top: 5px;}
.bad{border: 1px solid #FFFFFF;border-radius: 3px;background: #FFFFFF;padding: 5px 12px;font-size: 14px;margin-right: 15px;margin-top: 10px;float: left;}
.fr{margin: 10px;overflow: hidden;}

























